@use 'styles/variables';
@use 'styles/breakpoints';

.pagination {
  display: flex;
  justify-content: space-between;
}

.link {
  font-size: 26px;
  font-weight: bold;

  &.disable {
    pointer-events: none;
    color: variables.$color-secondary-dark;
  }
}