# Node dependencies
node_modules/

# Log files
*.log*

# Compiled sources
/dist/

# Code coverage output
**/coverage/

# Local environment variables
.env*.local

# Vercel configuration
/.vercel


# Generated RSS file
/public/rss.xml

# Generated Sitemap file
/public/sitemap.xml