# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/

# Next.js
.next/
next-env.d.ts

# TypeScript
*.tsbuildinfo

# Log files
*.log*

# Local environment variables
.env*.local

# Vercel
.vercel/
