# Node dependencies
node_modules/

# Build output
/dist/

# Type check build info
*.tsbuildinfo

# Log files
*.log*

# Local environment variables
.env*.local

# Vercel configuration
/.vercel

# Generated syndication feed files
/public/rss.xml
/public/atom.xml

# Generated sitemap file
/public/sitemap.xml
