@use 'styles/variables';
@use 'styles/breakpoints';

.layout {
    max-width: 1019px;
    margin: 32px auto;
    padding: 0 16px;
}

@include breakpoints.sm {
    .layout {
        display: grid;
        grid-template-columns: 275px 1fr;
        gap: 40px;
        padding: 0 32px;
    }
}