@use '../../../styles/variables';
@use '../../../styles/breakpoints';

.sidebar {
    position: relative;
    margin-bottom: 48px;
}

@include breakpoints.sm {
    .sidebar {
        align-self: start;
        &:after {
            background: variables.$color-secondary;
            position: absolute;
            content: '';
            width: 1px;
            height: 536px;
            right: -20px;
            top: 0;
            bottom: 0;
        }
    }
}