@use 'styles/variables';
@use 'styles/breakpoints';

.tagList {
  list-style: none;
  margin: 0 -4px;
  padding: 16px 0 0;
}

.tagListItem {
  display: inline-block;
  margin: 0;
  padding: 0 4px;
  color: variables.$typographic-link-font-color;
}