@use 'styles/variables';
@use 'styles/breakpoints';

.post {
  max-width: variables.$layout-single-column-single-width;
  padding: 0 15px;
  margin: 32px auto 0;
}

.title {
  font-size: 36px;
  line-height: 48px;
}

.body {
  margin-bottom: 32px;

  & figure {
    & blockquote {
      font-style: italic;
      text-align: center;
      margin-top: 0;

      & p {
        margin-top: 0;
      }
    }
  }

  .image {
    display: block;
    width: fit-content;
    margin: auto;
  }

  & li {
    &:before {
      content: "-";
      padding-right: 8px;
    }
  }
}

@include breakpoints.sm {
  .post {
    padding: 0;
    max-width: variables.$layout-single-column-width;
  }

  .title {
    font-size: variables.$typographic-heading-1-font-size;
  }
}

@include breakpoints.md {
  .post {
    margin: -32px auto 0;
  }
}