@use 'styles/variables';
@use 'styles/breakpoints';

.menu {
  .list {
    list-style: none;
    padding: 0;
    margin: 24px 0;

    .listItem {
      padding: 0;
      margin: 16px 0;
    }
  }
}

@include breakpoints.sm {
  .menu {
    .list {
      .listItem {
        margin: 8px 0;
      }
    }
  }
}